
{% extends 'blog/base.html' %}
{% block content %}
<pre>
"DUET Students blog" group is established and developed to accelerate our mutual cooperation,
 mutual help, communal harmony, strong bonding among us. It will direct our motion in a such
 a maner that enhance our attitude towards DUET as best university in the world.

Our success, our achievements, our energy will be shared in this group that motivate all of
 us to think differently to reach the peak position.

DUETian group must be free from any political activities. So you are requested not to drag
 any political conflicts here.As we have many minds, many views, many philosophy regarding
  politics, hence it may hamper our harmony as well as strong bonding.

Respect to senior, love for junior and friendship with all should be our slogan.Our 
attitude, behaviour are our identity,so you must be unique compare to others universities.

Hope a good interaction among all DUETian, an exclusive relationship among all of us.have a
 great success, have a great achievement in all area.

Admin Panel
DUETian
(Admin Panel is not in controlling mentality, we believe we have a great control ourselves,)


duetians@yahoogroups.com
Only for DUET family.
Group Type--
School or Class
</pre>
{% endblock %}